body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: whitesmoke; 
    color: #222; 
    line-height: 1.6;
    padding-bottom: 80px; 
}

nav {
    background: rgba(192, 52, 52, 0.8);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; 
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
    max-width: 1000px;
    margin: 20px auto;
}

h1, h2, h3 {
    color: #000000; 
    margin-top: 60px;
    margin-bottom: 25px;
}


.main-title {
    color: white !important;
}

.content-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
}


.highlight {
    color: #c03434;
    font-weight: bold;
}



.hero{
height:350px;
display:flex;
align-items:center;
justify-content:center;
border-bottom-left-radius:60% 20%;
border-bottom-right-radius:60% 20%;
position: relative;
}

.hero::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url("China.jpg");
background-size: cover;
background-position: center;
filter: blur(5px);
z-index: -1;
border-bottom-left-radius: 60% 20%;
border-bottom-right-radius: 60% 20%;
}



.hero-title{
color:black;
font-size:48px;
background-color:rgba(255,255,255,0.6);
padding:10px 20px;
border-radius:10px;
}



.nav-box-container{
display:flex;
justify-content:center;
gap:25px;
margin-top:30px;
flex-wrap:wrap;
}

.nav-box{
background: rgba(192, 52, 52, 0.8);
color:white;
padding:15px 30px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
transition:0.2s;
}

.nav-box:hover{
background: rgba(140, 36, 36, 0.8);
transform:translateY(-3px);
}

/* Bild rechts */
.right-image {
    float: right;
    margin-left: 20px;
    width: 300px;
    height: auto;
}

/* Bild links */
.left-image {
    float: left;
    margin-right: 20px;
    width: 300px;
    height: auto;
}

/* Impressum */
.impressum {
    background-color: rgba(192, 52, 52, 0.8);
    color: white;
    padding: 20px 40px;
    margin: 40px -40px 0 -40px;
    clear: both;
    text-align: center;
    font-size: 14px;
}